.container{
    width: 1000px;
    margin: 0 auto;
}

.header-box{
    position: relative;
    z-index: 2;
    height: 94px;
    background: #fff;
    border-bottom: 2px solid #e4eef2;
}
.header-box .logo{
    display: inline;
    float: left;
    width: 120px;
    height: 37px;
    margin-top: 38px;
    margin-right: 60px;
    background: url("../images/logo.png") no-repeat;
}
.header-box .right-tool{
    width: 245px;
    padding-top: 43px;
    float: right;
    overflow: hidden;
    text-align: right;
}

.header-box .right-tool .btn-a{
    display: inline-block;
    width: 68px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: #e3e3e3;
    color: #000000;
    border-radius: 3px;
    border: 0;
    margin: 0 5px;
    vertical-align: middle;
}


.header-box .right-tool .btn-a:hover{
    text-decoration: none;
    background: #e9e9e9;
}
.header-box .right-tool .btn-a.green{
    background: #97c54e;
    color: #fff;
}
.header-box .right-tool .btn-a.green:hover{
    background:#9ed34a;
}

.header-box .right-tool .search-a{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #fafafa;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    vertical-align: middle;
}
.icon-search-bar{
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    background: url("../images/icon-search-bar-grey.png") no-repeat;
}
.header-box .right-tool .top-search-box{
    position: absolute;
    right: -237px;
    top:-1px;
    border: 1px solid #e3e3e3;
    background: #fafafa;
    width: 233px;
    height: 30px;
    border-radius: 3px;
}
.header-box .right-tool .top-search-box .input-text{
    display: block;
    border: 0;
    height: 100%;
    background: none;
    width: 210px;
    padding: 0 10px;
}
.header-box .right-tool .top-search-box .input-text:focus{
    outline: none;
}
.header-box .right-tool .top-search-box .icon-search-bar{
    position: absolute;
    right: 10px;
    top: 8px;
    background: url("../images/icon-search-bar.png") no-repeat;
}



.nav-box{
    display: inline;
    float: left;
}
.nav-box .nav-list{
    padding-top: 23px;
}

.nav-box .nav-list li.list{
    position: relative;
    float: left;
    display: inline;
    margin-right: 50px;
}

.nav-box .nav-list li.list a.first-a{
    position: relative;
    font-size: 16px;
    color: #000000;
    display: block;
    height: 73px;
    line-height: 73px;
}
.nav-box .nav-list li.list.active a.first-a .line,
.nav-box .nav-list li.list a.first-a:hover .line{
    position: absolute;
    left: 0;
    bottom: 0px;
    display: block;
    height: 3px;
    width: 100%;
    background: #0983ca;
}

.nav-box .nav-list li.list a.first-a:hover{
    color: #0983ca;
    text-decoration: none;
}
.nav-box .nav-list li.list.active a.first-a{
    color: #0983ca;
    text-decoration: none;
}
.nav-box .nav-list li.list:hover .sub-nav{
    display: block;
}
.nav-box .nav-list .sub-nav{
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background: #fff;
    width: 176px;
    overflow: hidden;
}
.nav-box .nav-list .sub-nav li{

}
.nav-box .nav-list .sub-nav li a{
    display: block;
    height: 39px;
    line-height: 39px;
    border-top:1px solid #f0f0f0;
    margin-top: -1px;
    font-size: 12px;
    color: #666666;
    padding: 0 10px;
}
.nav-box .nav-list .sub-nav li a:hover{
    background: #f0f0f0 url("../images/icon-nav-list.png") 155px center no-repeat;
    text-decoration: none;
}
.footer-nav{
    height: 100px;
    padding: 15px 0;
    background: #1f70b5;
    line-height: 20px;
}
.footer-nav .footer-text{
    padding-top: 40px;
}
.footer-nav .p-link{
    text-align: center;
    font-size: 12px;
    color: #ffffff;
}
.footer-nav .p-link a{
    color: #ffffff;
}
.footer-nav .p-copyright{
    text-align: center;
    font-size: 12px;
    color: #99c3e2;
}
.footer-nav .p-copyright a{
    color: #99c3e2;
}
.footer-nav .qr-code{
    display: inline;
    float: right;
    width: 71px;
    padding-top: 5px;
}
.footer-nav .qr-code .qr-code-img{
    border: 1px solid #5ab7fd;
}
.footer-nav .qr-code .qr-code-img img{
    display: block;
    width: 70px;
    height: 70px;
}
.footer-nav .qr-code .qr-code-text{
    text-align: center;
    color: #fff;
    line-height: 30px;
    font-size: 12px;
}

.fixed-tool{
    position:fixed;
    bottom:100px;
    left: 50%;
    width: 54px;
    margin-left: 520px;
}
.fixed-tool .fixed-span{
    position:relative;
    display: block;
    background: #84c1e4;
    width: 54px;
    height: 54px;
    margin-bottom: 6px;
    cursor: pointer;
}
.fixed-tool .sub-fixed{
    display: none;
    position: absolute;
    right: 100%;
    top:50%;
    margin-top: -80px;
    width: 153px;
    height: 170px;
    background: url("../images/fixed-tool-bg.png") no-repeat;
}
.fixed-tool .fixed-span:hover .sub-fixed{
    display: block;
}
.fixed-tool .sub-fixed ul{
    padding-top: 12px;
    padding-right: 18px;
}
.fixed-tool .sub-fixed ul li{
    padding-left: 20px;
}
.fixed-tool .sub-fixed ul li a{
    display: block;
    color: #333333;
    font-size: 14px;
    line-height: 36px;
}



.icon-tool-add,
.icon-tool-top{
    display: inline-block;
    vertical-align: middle;
    width: 54px;
    height: 54px;
}
.icon-tool-add{
    background: url("../images/icon-tool-add.png") no-repeat;
}
.icon-tool-top{
    background: url("../images/icon-tool-top.png") no-repeat;
}

.icon-tool-lxfs,
.icon-tool-sqlt,
.icon-tool-wjdc,
.icon-tool-zxzx {
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin-right: 8px;
}
.icon-tool-lxfs{
    background: url("../images/icon-tool-lxfs.png") no-repeat;
}
.icon-tool-sqlt{
    background: url("../images/icon-tool-lxfs.png") no-repeat;
}
.icon-tool-wjdc{
    background: url("../images/icon-tool-wjdc.png") no-repeat;
}
.icon-tool-zxzx{
    background: url("../images/icon-tool-zxzx.png") no-repeat;
}


.banner-box{
    padding-top:14px;
    padding-bottom: 14px;
    background: #f3f9fb;
    margin-bottom: 20px;
}
.flexslider{
    position: relative;
}

.banner-box .flexslider{
    position: relative;
    height: 300px;
    overflow: hidden;
}
.banner-box .flex-control-nav{
    position: absolute;
    bottom:10px;
    width: 100%;
    background: none;
    text-align: center;
}
.banner-box .flex-control-nav  li a.flex-active{
    background: #3ca4f4;
    border-color:#3ca4f4;
}
.banner-box .flex-control-nav  li{
    display: inline-block;
    /*background: #fff;
    border-color:#fff;*/
}
.banner-box .flex-control-nav  li a{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 50%;
    background: #e7e7e7;
    line-height: 100px;
    overflow: hidden;
    cursor: pointer;
}

.banner-box .flex-prev,
.banner-box .flex-next
{
    position: absolute;
    top:50%;
    margin-top:-18px;
    width: 18px;
    height: 36px;
    line-height: 100px;
    overflow: hidden;
}
.banner-box .flex-next{
    right: 10px;
    background: url("../images/icon-slider-right.png") no-repeat;
}
.banner-box .flex-prev{
    left: 10px;
    background: url("../images/icon-slider-left.png") no-repeat;
}

.h3-title{
    height: 42px;
    line-height: 42px;
    text-align: center;
    border-bottom:1px solid #d8e6eb;
    margin-bottom: 30px;
}
.h3-title .name{
    position: relative;
    display: inline-block;
    height: 41px;
    line-height: 39px;
    font-size: 22px;
    color: #333333;
}
.h3-title .name .line{
    position: absolute;
    left: 0;
    bottom:-3px;
    display: block;
    height: 4px;
    width: 100%;
    background: #0983ca;
}